{% extends 'partials/_layout.twig' %}
{% block main %}
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Welcome!</h1>
      <p class="py-6">Certifever is going to be awesome and will help me pass the symfony certification!</p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
{% endblock main %}
